   <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
         
          <div class="sidebar-brand-text mx-3"><img src="assets/images/dalmiabiz.png" alt="" /></div>
        </a>
  
        <hr class="sidebar-divider my-0">
  
        <li class="nav-item">
          <a class="nav-link active" routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <hr class="sidebar-divider">
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Setting</span>
          </a>
          <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Setting Management:</h6>
              <a class="collapse-item" routerLink="/module">Module</a>
              <a class="collapse-item" routerLink="/role">Role</a>
             
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="/user" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>User</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">User Management:</h6>
              <a class="collapse-item" routerLink="/user">User</a>
              <a class="collapse-item" routerLink="/user">Employee</a>
            </div>
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/testing">Testing</a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Company</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Company Management:</h6>
              <a class="collapse-item" routerLink="/company">Company</a>
              <a class="collapse-item" routerLink="/company-reference">Company Reference</a>
              
             
            </div>
          </div>
        </li>
  
        <li class="nav-item">
          
            <ng-template #elseBlock>
                eeeeeeeeeee
            </ng-template>
            
           
               </li>
     
      </ul>
      <!-- End of Sidebar -->