<div class="container-fluid">
    <div class="card shadow mb-5">
  
        <div class="col-sm-12"> 
            <div class="card-header py-2 row">
                    <div class="col-md-6">
                        <h3 class="dashboard-title h3  mb-1 mt-1  text-gray-800">Create Role</h3>
                    </div>   
                    <div class="col-md-6 text-right">
                        <a routerLink="/role" class="btn btn-primary" style=" width: 95px;">List</a>   
                    </div> 
              </div>
        </div>
  
      <div class="card-body  mb-0">
        <div class="">
          <div class="col-md-12 col-sm-12 pt-3 pb-3 align-self-center ">
              <form name="form" (ngSubmit)="f.form.valid && createRole()" #f="ngForm" novalidate>
 
             <div class="form-group row">
                  <div class="col-sm-12 col-md-2">
                    Role Code :
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <input type="text" [(ngModel)]="details.name" name="name" class="form-inputs form-control" 
                      #name="ngModel" [ngClass]="{'is-invalid': f.submitted && name.invalid}" required>
                     <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                       <div *ngIf="name.errors.required">Code is required</div>
                     </div>                
                 </div>
              </div>
  
              <div class="form-group row">
                  <div class="col-sm-12 col-md-2">
                    Role Name :
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <input type="text" [(ngModel)]="details.description" name="description" class="form-inputs form-control"
                      #description = "ngModel" [ngClass]="{'is-invalid': f.submitted && description.invalid}" required>
                      <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                        <div *ngIf="description.errors.required">Role Name is required</div>
                      </div>
                 </div>
              </div>
           


              <div class="row">
                <div class=" col-sm-12" *ngFor="let obj of datamodule">              
                  <input type="checkbox" value="{{obj.id}}" (change)="moduleChange($event)"> {{obj.module_name}}                   
                </div> 
                    
              </div>
             
          
              <div class="form-group pt-3 mt-2">
                <button class="btn btn-primary"  style=" width: 95px;">Submit</button>
              </div>
            </form> 
            </div>
        </div>  
    </div>
  
    </div>
  </div>
  