 <div class="container">
   
    <div class="row justify-content-center">
      
      <div class="col-xl-5 col-lg-12 col-sm-12">
         <div class="text-center my-5">
            <img src="assets/images/dalmiabiz.png" alt="" />
         </div>  
        <div class="card o-hidden border-0">
            <!-- <button (click)="toggleLoggedIn()">Log {{loggedIn ? 'Out' : 'In'}}</button>
            <div>Logged In: {{loggedIn}}</div> -->
         
          <div class="card-body p-0">
            <div class="row">
             
              <div class="col-lg-12 col-sm-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome</h1>
                  </div>
                  <div class="alert alert-danger" *ngIf="Error">
                    {{message}}
                 </div>
              
                  <form class="user" (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm">
                      <div class="form-group">
                        <input type="email" formControlName="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                      </div>
                      <div class="form-group">
                        <input type="password" formControlName="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                      </div>
                      <button type="submit"  [disabled]="!loginForm.valid" class="btn btn-primary btn-user btn-block" style="margin-top: 25px;">Log In</button>
                  </form>
                  <hr>
                  <div class="text-center">
                      <a class="" routerLink="/forgotPassword">Forgot Password ?</a>
                  </div>
                  <!-- <div class="text-center">
                    <a class="" routerLink="/register">Create an Account!</a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
