<div class="container-fluid">
    <div class="card shadow mb-5">

        <div class="col-sm-12"> 
            <div class="card-header py-2 row">
                    <div class="col-md-6">
                        <h3 class="dashboard-title h3  mb-1 mt-1  text-gray-800">Edit User</h3>
                    </div>   
                    <div class="col-md-6 text-right">
                        <a routerLink="/user" class="btn btn-primary" style=" width: 95px;">List</a>   
                    </div> 
              </div>
        </div>

      <div class="card-body  mb-0">
        <div class="">
          <div class="col-md-12 col-sm-12 pt-3 pb-3 align-self-center "> 
            <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-1">
                      <label>Name :</label>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <input type="text" [(ngModel)]="data.name" name="name" class="form-inputs form-control" placeholder="Name"
                        #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                         <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">  
                            <div *ngIf="name.errors.required">Name is required</div>
                          </div>                  
                   </div>
                </div>


              <div class="form-group row">
                  <div class="col-sm-12 col-md-1"><label>Email :</label></div>
                  <div class="col-sm-12 col-md-5">
                  <input type="text" name="email" class="form-control" [(ngModel)]="data.email" 
                  #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Email" required email  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>  
              </div>


          
              <div class="form-group pt-3 mt-2">
                  <button class="btn btn-primary" style=" width: 95px;">Save</button>
              </div>
            </form>  
          </div>
        </div>  
    </div>

    </div>
  </div>


