<div class="container-fluid">
  <div class="card shadow mb-4">
      <div class="col-sm-12"> 
          <div class="card-header py-2 row">
                  <div class="col-md-6">
                      <h3 class="dashboard-title h3  mb-1 mt-1  text-gray-800">Manage Company</h3>
                  </div>   
                  <div class="col-md-6 text-right">
                      <a routerLink="/add-company" class="btn btn-primary" style=" width: 95px;">Add New</a>   
                  </div>    
            </div>
      </div>
    <div class="card-body">
<div class="table-responsive">
    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
      <thead>
           <tr>
              <th style="width: 90px;">Id</th>
              <th>Company Name</th>
              <th>Company Address</th>
              <th>Company City</th>
              <th>Company State</th>
              <th>Pincode</th>
              <th>Contact No.</th>
              <th>Email</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let item of companyinfo'>
                      <td>{{item.id}}</td>
                      <td>{{item.company_name}}</td>
                      <td>{{item.company_address}}</td>
                      <td>{{item.company_city}}</td>
                      <td>{{item.company_state}}</td>
                      <td>{{item.company_pincode}}</td>
                      <td>{{item.company_contact_number}}</td>
                      <td>{{item.company_email}}</td>
                      <td>
                                                
                        <div *ngIf="item.cstatus else elseBlock">
                          <a href="javascript:;" (click)="inactiveCompany(item.id)"><img src="assets/images/on-btn.png" alt=""></a></div>
                        <ng-template #elseBlock><a href="javascript:;" (click)="activeCompany(item.id)">
                            <img src="assets/images/off-btn.png" alt=""></a></ng-template>                                                    
                        </td>	
                      <td><a routerLink="/edit-user/{{item.id}}"><img src="assets/images/edit-icon.png" alt="edit"></a>   
                      <!-- <a  (click)="deleteEmployee(item.id)">Delete</a>-->                                        
                    </td>		
             </tr>
             
      </tbody>
    </table>
</div>
</div>
</div>
