<!---to use popup , we need install ----ng add @ng-bootstrap/schematics-----command--->

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" (click)="hideModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="sendModal()" >Send</button>
        <button type="button" class="btn btn-danger" (click)="hideModal()">Close</button>

        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="col-sm-12"> 
            <div class="card-header py-2 row">
                    <div class="col-md-6">
                        <h3 class="dashboard-title h3  mb-1 mt-1  text-gray-800">References Documents</h3>
                    </div>   
                    <div class="col-md-6 text-right">
                        <a routerLink="/add-company" class="btn btn-primary" style=" width: 95px;">Add New</a>   
                    </div>    
              </div>
        </div>
      <div class="card-body">
  <div class="table-responsive">
      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
        <thead>
             <tr>
                <th>Document Name</th>
                <th>Document Type </th>
                <th>View</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Leave Policies</td>
                <td>Policies</td>
                <td><a href="javascript:;" data-toggle="modal" data-target="#myModal" (click)="showModal()"><img src="assets/images/pdf.png" alt=""></a></td>
                <td>Active</td>                
            </tr>     
            <tr>
                <td>Leave Request Form</td>
                <td>Downloads</td>
                <td><a href="javascript:;" data-toggle="modal" data-target="#myModal" (click)="showModal()"><img src="assets/images/pdf.png" alt=""></a></td>
                <td>DeActive</td>                
            </tr>              
        </tbody>
      </table>  
  </div>
  </div>
  </div>
</div>  

<!--model-popup-->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">View PDF</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
