<div class="container-fluid">
  <div class="card shadow mb-5">

      <div class="col-sm-12"> 
          <div class="card-header py-2 row">
                  <div class="col-md-6">
                      <h3 class="dashboard-title h3  mb-1 mt-1  text-gray-800">Edit Module</h3>
                  </div>   
                  <div class="col-md-6 text-right">
                      <a routerLink="/module" class="btn btn-primary" style=" width: 95px;">List</a>   
                  </div> 
            </div>
      </div>

    <div class="card-body  mb-0">
      <div class="">
        <div class="col-md-12 col-sm-12 pt-3 pb-3 align-self-center "> 
            <div class="form-group row">
                <div class="col-sm-12 col-md-2">
                  <label>Module Code :</label>
                </div>
                <div class="col-sm-12 col-md-4">
                    <input type="text" [(ngModel)]="data.module_code" class="form-control" >
               </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 col-md-2">
                  Module Name :
                </div>
                <div class="col-sm-12 col-md-4">
                    <input type="text" [(ngModel)]="data.module_name" class="form-control">
                  </div>
            </div>
           
        
            <div class="form-group pt-3 mt-2">
                <button class="btn btn-primary" (click)="updateModule()" style=" width: 95px;">Save</button>
            </div>
          </div>
      </div>  
  </div>

  </div>
</div>


