 <!-- Page Wrapper -->
  <div id="wrapper">
      <div class="sidebar-container" *ngIf="isUserLoggedIn() else elseBlock">
                <app-sidebar></app-sidebar>
        </div>
      
      
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div *ngIf="isUserLoggedIn() else elseBlock">
           <app-header></app-header>
        </div>
        
        <router-outlet></router-outlet> 

        <div *ngIf="isUserLoggedIn() else elseBlock">
           <app-footer></app-footer> 
        </div>    

    </div>
    <!-- End of Content Wrapper -->

  </div>
 