
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="col-sm-12"> 
                        <div class="card-header py-2 row">
                                <div class="col-md-6">
                                    <h3 class="dashboard-title h3  mb-1 mt-1  text-gray-800">Manage Role</h3>
                                </div>   
                                <div class="col-md-6 text-right">
                                    <a routerLink="/add-role" class="btn btn-primary" style=" width: 95px;">Add New</a>   
                                </div>    
                          </div>
                    </div>
                  <div class="card-body">
                      
                  <div class="search-table">  
                      <input type="text" [(ngModel)]="searchText" placeholder="Search" class="form-control">     
                  </div>  
                    <div class="table-responsive">
                      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 90px;">Id</th>
                                <th>Role code</th>
                                <th>Role Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let item of items | filter: searchText | paginate:{itemsPerPage: 10, currentPage:p} '>
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.description}}</td>
                                <td>
                                    <a routerLink="/edit-role/{{item.id}}"><img src="assets/images/edit-icon.png" alt="edit"></a>   
                                </td>		
                            </tr>
                                <!-- <div class="text-center" *ngIf="(itmes | filterBy: searchText).length == 0">
                                  <strong> No matching elements</strong>
                               </div>  -->
                        </tbody>
                      </table>
                      <div class="col-sm-12">
                          <div class="row"> 
                             <div class="col-sm-6">
                               <div class="text-left" *ngIf="(items  | filter: searchText)?.length == 0">
                                 <strong> No matching elements</strong>
                               </div>
                             </div>
                           <div class="col-sm-6 text-right pagination">
                             <div id="pagination" class="row pull-right text-right">
                               <pagination-controls   directionLinks="true" (pageChange)="p=$event"></pagination-controls>
                             </div>    	
                           </div>
                         </div>  
                        </div>  
                      <!-- <div class="pagination">
                        <div id="pagination" class="pull-right text-right">
                          <pagination-controls   directionLinks="true" (pageChange)="p=$event"></pagination-controls>
                        </div>    	
                      </div>   -->
                    </div>
                  </div>
                </div>
      
              </div>