<div class="container">
   
        <div class="row justify-content-center">
          
          <div class="col-xl-5 col-lg-12 col-sm-12 my-5">
             <div class="text-center my-5">
                <img src="assets/images/dalmiabiz.png" alt="" />
             </div>  
            <div class="card o-hidden border-0 shadow-lg">
              
              <div class="card-body p-0">
                <div class="row">
                 
                  <div class="col-lg-12 col-sm-12">
                    <div class="p-5">
                       <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Forgot Your Password</h1>
                        </div>
                        <div class="alert alert-danger" *ngIf="Error">
                            {{massage}}
                        </div>
                      <form class="user text-center">
                          <div class="form-group">
                            <input type="email"  class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                          </div>
                          <button type="submit"  class="btn btn-primary btn-user" style="width: 140px; margin-top: 25px;">Submit</button>
                      </form>
                      <hr>
                      
                         <div class="text-center">
                            <a href="/login">Back to login</a>
                          </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    