<div class="container-fluid">
        <div class="card shadow mb-5">
    
            <div class="col-sm-12"> 
                <div class="card-header py-2 row">
                        <div class="col-md-6">
                            <h3 class="dashboard-title h3  mb-1 mt-1  text-gray-800">Create New Company</h3>
                        </div>   
                        <div class="col-md-6 text-right">
                            <a routerLink="/company" class="btn btn-primary text-white" style=" width: 95px;">List</a>   
                        </div> 
                  </div>
            </div>
    
          <div class="card-body  mb-0">
            <div class="">
              <div class="col-md-12 col-sm-12 pt-3 pb-3 align-self-center "> 
                    <form [formGroup]="productForm" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>
                  <div class="form-group row">
     
                      <div class="col-sm-12 col-md-6 mt-3">
                          <label>Company Name :</label>
                          <label class="form-inputs form-control" style="padding-top: 10px; background-color: #ededed;">
                            Dalmia Biz Retail Pvt. Ltd.</label>
                     </div>
                  </div>
                  <div class="form-group row">          
                            <div class="col-sm-12 col-md-4 mt-3">
                                <label>Document Type:</label>
                                <select class="form-inputs form-control"> 
                                   <option>Download</option>
                                   <option>Policies</option>
                                  </select>                
                            </div>
                                
                            <div class="col-sm-12 col-md-3 mt-3">
                                <label>Document Name:</label>
                                <input type="text" name="doc_name" class="form-inputs form-control">                 
                            </div>
                    
                       
                            <div class="col-sm-12 col-md-4 mt-3">
                                <label>Upload Document:</label>
                                <input type="file" name="company_logo" class="form-inputs form-control">                 
                            </div>
                           
                      </div>

                   <div class="form-group" formArrayName="selling_points">   
                      <div class="row" *ngFor="let item of sellingPoints.controls; 
                      let pointIndex=index" [formGroupName]="pointIndex">           
                            <div class="col-sm-12 col-md-4 mt-3">
                                <select class="form-inputs form-control"> 
                                  <option>Download</option>
                                  <option>Policies</option>
                                 </select>                
                            </div>
                                
                            <div class="col-sm-12 col-md-3 mt-3">
                                <input type="text" name="doc_name" class="form-inputs form-control">                 
                            </div>
                    
                      
                            <div class="col-sm-12 col-md-4 mt-3">
                                <input type="file" name="company_logo" class="form-inputs form-control">                 
                            </div>
                            <div class="col-sm-12 col-md-1 mt-3">                             
                               <button type="button" class="btn btn-danger" (click)="deleteSellingPoint(pointIndex)"><i class="fa fa-minus" aria-hidden="true"></i>
                               </button>
                            </div>
                      </div>
                   </div>
                
                  
                         
                           
                           
                  <div class="form-group pt-3 mt-2">
                    <button class="btn btn-primary" style=" width: 95px;">Submit</button> &nbsp;
                    <button class="btn btn-danger" style=" width: 95px;">Skip</button>
                    <button class="btn btn-success pull-right" (click)="addSellingPoint()" style=" width: 100px;">Add More</button>
                  </div>


                </form>
    
                </div>
            </div>  
        </div>
    
      </div>
    </div>