/* You can add global styles to this file, and also import other style files */

@import url('assets/css/hrm-admin.css');
.bg-gradient-primary{background-color: #f8f9fc; background-image: none;}
app-sidebar, .sidebar-container {background-color: #005baa;}
.bg-gradient-primary .sidebar {background-color: #005baa;}
.sidebar .sidebar-brand{background-color: #fff;}
.title-main {padding-top: 7px;}
footer{ z-index: 99; width: 100%; bottom: 0;}
.search-table{padding-top:20px;padding-bottom:20px;max-width:250px;width:100%; float: right;}
.pagination .ngx-pagination {border: 1px solid #ddd; padding-left: 0;border-radius: 4px;}
.ngx-pagination li a:before, .ngx-pagination li a:after , .ngx-pagination li:before, .ngx-pagination li:after{
    content: unset !important;
}

.form-inputs{height: calc(1.5em + 1.2rem + 2px);}