<div class="container-fluid">
    <div class="card shadow mb-5">

        <div class="col-sm-12"> 
            <div class="card-header py-2 row">
                    <div class="col-md-6">
                        <h3 class="dashboard-title h3  mb-1 mt-1  text-gray-800">Create New Company</h3>
                    </div>   
                    <div class="col-md-6 text-right">
                        <a routerLink="/company" class="btn btn-primary text-white" style=" width: 95px;">List</a>   
                    </div> 
              </div>
        </div>

      <div class="card-body  mb-0">
        <div class="">
          <div class="col-md-12 col-sm-12 pt-3 pb-3 align-self-center "> 
            <form name="form" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>
              <div class="form-group row">

                  <div class="col-sm-12 col-md-6 mt-3">
                      <label>Company Name :</label>
                      <input type="text" [(ngModel)]="details.company_name" name="company_name" class="form-inputs form-control"
                      #company_name="ngModel" [ngClass]="{'is-invalid': f.submitted && company_name.invalid}" required>                 
                      <div *ngIf="f.submitted && company_name.invalid" class="invalid-feedback">
                          <div *ngIf="company_name.errors.required">Company Name is required</div>
                      </div>
                 </div>
                             
                    <div class="col-sm-12 col-md-6 mt-3">
                        <label>Contact Number :</label>
                        <input type="text" [(ngModel)]="details.company_contact_number" name="company_contact_number" class="form-inputs form-control"
                        #company_contact_number="ngModel" [ngClass]="{'is-invalid' : f.submitted && company_contact_number.invalid}"
                        minlength=10 maxlength=10  [pattern]="mobNumberPattern" required>                 
                        <div *ngIf="f.submitted && company_contact_number.invalid" class="invalid-feedback">  
                           <div *ngIf="company_contact_number.errors.required">Contact Number is required</div>
                           <div *ngIf="company_contact_number.errors.minlength">Mobile Number Should be minlength 10 digit</div>
                           <div *ngIf="company_contact_number.errors.maxlength">Mobile Number Should be maxlength 10 digit</div>
                         </div>   
                    </div>
                            
                    <div class="col-sm-12 col-md-6 mt-3">
                           <label>Email :</label>
                            <input type="text" name="email" class="form-inputs  form-control" [(ngModel)]="details.email" 
                            #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Email" required email  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required">Email is required</div>
                                <div *ngIf="email.errors.email">Email must be a valid email address</div>
                           </div>  
                        </div>
                
                   
                    <div class="col-sm-12 col-md-6 mt-3">
                        <label>Address :</label>
                        <input type="text" [(ngModel)]="details.company_address" name="company_address" class="form-inputs form-control"
                        #company_address="ngModel" [ngClass]="{'is-invalid': f.submitted && company_address.invalid}" required>                 
                      <div *ngIf="f.submitted && company_address.invalid" class="invalid-feedback">
                          <div *ngIf="company_address.errors.required">Address is required</div>
                      </div>              
                    </div>
               
                
                    <div class="col-sm-12 col-md-6 mt-3">
                        <label>City :</label>
                        <input type="text" [(ngModel)]="details.company_city" name="company_city" class="form-inputs form-control"
                        #company_city="ngModel" [ngClass]="{'is-invalid': f.submitted && company_city.invalid}" required>                 
                        <div *ngIf="f.submitted && company_city.invalid" class="invalid-feedback">
                            <div *ngIf="company_city.errors.required">City is required</div>
                        </div>                 
                    </div>
                                    
                    <div class="col-sm-12 col-md-6 mt-3">
                        <label>State :</label>  
                        <select class="form-inputs form-control" name="details.company_state"
                        [(ngModel)]="details.company_state" #company_state="ngModel" [ngClass]="{'is-invalid': company_state.invalid && f.submitted}" required>
                            <option [ngValue]="null">---Select Any State---</option>
                            <option *ngFor="let states of state" [value]="states">{{states}}</option>
                        </select> 
                        <div *ngIf="f.submitted && company_state.invalid" class="invalid-feedback">
                                <div *ngIf="company_state.errors.required">State is required</div>
                            </div>    
                             
                   </div>
                         
                    <div class="col-sm-12 col-md-6 mt-3">
                        <label>Pincode :</label>
                        <input type="text" [(ngModel)]="details.company_pincode" name="company_pincode" class="form-inputs form-control"
                        #company_pincode="ngModel" [ngClass]="{'is-invalid':f.submitted && company_pincode.invalid}"                 
                          minlength="6" maxlength="6" [pattern]="pinCodePattern" required>
                          <div *ngIf="f.submitted && company_pincode.invalid" class="invalid-feedback">  
                                <div *ngIf="company_pincode.errors.required">Pincode is required</div>
                                <div *ngIf="company_pincode.errors.minlength">Pincode Should be minlength 6 digit</div>
                                <div *ngIf="company_pincode.errors.maxlength">Pincode Should be maxlength 6 digit</div>
                              </div>   
                    </div>
                    
                  


                    <div class="col-sm-12 col-md-6 mt-3">
                        <label>Company Logo :</label>
                        <input type="file" [(ngModel)]="details.company_logo" name="company_logo" class="form-inputs form-control">                 
                    </div>

                </div>
            
                      
                            
              <div class="form-group pt-3 mt-2">
                <button class="btn btn-primary"  style=" width: 95px;">Submit</button>&nbsp;
                <a class="btn btn-success" routerLink="/add-company-step2">Step 2</a>
              </div>
            </form>

            </div>
        </div>  
    </div>

  </div>
</div>
